name: Release

on:
  push:
    branches: [ main ]

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci: version bump')"

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Enable corepack
      run: corepack enable

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'yarn'
        registry-url: 'https://registry.npmjs.org'
        scope: '@neirfeno'

    - name: Install dependencies
      run: yarn install --immutable

    - name: Build
      run: yarn build

    - name: Run tests
      run: yarn test

    - name: Check for version changes
      id: check
      run: yarn version check

    - name: Configure Git
      if: steps.check.outcome == 'success'
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'

    - name: Apply version updates
      if: steps.check.outcome == 'success'
      run: |
        yarn version apply

    - name: Publish to npm
      if: steps.check.outcome == 'success'
      run: yarn workspaces foreach --all npm publish --access public
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
